<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lab Test Orders</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css')}}" />
</head>
<body>
    <h1>Welcome, Physician {{ session.username }}!</h1>
    <div class="navbar">
        <a href="{{url_for('physician')}}" class="navbar-brand">Home</a> 
        <a href="{{ url_for('physician_patients') }}" class="navbar-item">Patients</a>
        <a href="{{ url_for('user_profile') }}" class="navbar-item">Profile</a>
        <a href="{{ url_for('physician_lab_test_orders') }}" class="navbar-item">Lab Test Orders</a>
        <a href="{{ url_for('user_detail_notes') }}" class="navbar-item">Detailed Notes</a>
        <a href="{{ url_for('physician_patient_records') }}" class="navbar-item">Medical Records</a>
        <a href="{{ url_for('logout') }}" class="navbar-item">Logout</a>
    </div>
    <h2>Empty Records</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Patient</th>
                <th>Conditions</th>
                <th>Record Description</th>
            </tr>
        </thead>
        <tbody>
            {% for mr in medical_records %}
            <tr>
                <td>{{ mr.PatientUserName }}</td>
                <td colspan="2">
                    <form method="POST" action="{{ url_for('update_medical_record') }}">
                        <input type="hidden" name="record_id" value="{{ mr.PatientMedicalRecordsID }}">
                        <input type="text" name="condition_desc" placeholder="Enter condition">
                        <input type="text" name="record_desc" placeholder="Enter record description">
                        <button type="submit">Submit</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
