<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div class="navbar" style="background: lightgray; height: 50px;">
        <a href="{{ url_for('patient') }}" class="navbar-brand">Home</a>
        <a href="{{ url_for('user_profile') }}" class="navbar-item">Profile</a>
        <a href="{{ url_for('after_visit_summary') }}" class="navbar-item">After Visit Summary</a>
        <a href="{{ url_for('patient_billing') }}" class="navbar-item">Billing</a>
        <a href="{{ url_for('schedule_appointment') }}" class="navbar-item">Schedule Appointment</a>
        <a href="{{ url_for('patient_insurance') }}" class="navbar-item">Insurance</a>
    </div>
    
    <div class="header">
        <h1 class="word">Welcome, Patient {{ session.username }}!</h1>
    </div>
    
</body>
</html>
